<div class="login-page">
  <div class="login-container">
    <div class="logo">
      <img src="assets/Ezy.png" alt="Logo" class="logo-image" />
    </div>

    <h2 *ngIf="step === 1">Forgot Password</h2>
    <h2 *ngIf="step === 2">Reset Password</h2>

    <!-- STEP 1: EMAIL -->
    <form *ngIf="step === 1" [formGroup]="emailForm" (ngSubmit)="sendOtp()">
      <div class="form-group">
        <i class="bi bi-envelope"></i>
        <input
          type="email"
          formControlName="email"
          placeholder="Enter registered email"
        />
      </div>

      <button type="submit" class="login-btn">Send OTP</button>
    </form>

    <!-- STEP 2: OTP + PASSWORD -->
    <form
      *ngIf="step === 2"
      [formGroup]="resetForm"
      (ngSubmit)="resetPassword()"
    >
      <div class="form-group">
        <i class="bi bi-key"></i>
        <input type="text" formControlName="otp" placeholder="Enter OTP" />
      </div>

      <div class="form-group password-group">
        <input
          [type]="showNewPassword ? 'text' : 'password'"
          formControlName="newPassword"
          placeholder="New Password"
        />
        <i
          class="bi"
          [ngClass]="showNewPassword ? 'bi-eye-slash' : 'bi-eye'"
          (click)="showNewPassword = !showNewPassword"
        ></i>
      </div>

      <div class="form-group password-group">
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
        />
        <i
          class="bi"
          [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"
          (click)="showConfirmPassword = !showConfirmPassword"
        ></i>

        <div *ngIf="resetForm.errors?.['mismatch']" style="color: red">
          Passwords do not match
        </div>
      </div>

      <button type="submit" class="login-btn">Reset Password</button>
    </form>

    <div class="back-to-login">
      <a (click)="backLogin()">← Back to Login</a>
    </div>
  </div>
</div>
