<div class="login-page">
  <div class="login-container">
    <div class="logo">
      <img src="assets/Ezy.png" alt="Logo" class="logo-image" />
    </div>
    <h2>Change Password</h2>
    <p>Enter your old password and choose a new one</p>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="form-group password-group">
        <i class="bi bi-person"></i>
        <input
          type="text"
          formControlName="UserName"
          placeholder="User ID"
          required
        />
      </div>

      <div class="form-group password-group">
        <i class="bi bi-lock"></i>
        <input
          [type]="showOldPassword ? 'text' : 'password'"
          formControlName="oldPassword"
          placeholder="Old Password"
          required
        />
        <i
          class="bi"
          [ngClass]="showOldPassword ? 'bi-eye-slash' : 'bi-eye'"
          (click)="togglePassword('old')"
        ></i>
      </div>

      <div class="form-group password-group">
        <i class="bi bi-lock-fill"></i>
        <input
          [type]="showNewPassword ? 'text' : 'password'"
          formControlName="newPassword"
          placeholder="New Password"
          required
        />
        <i
          class="bi"
          [ngClass]="showNewPassword ? 'bi-eye-slash' : 'bi-eye'"
          (click)="togglePassword('new')"
        ></i>
      </div>

      <div class="form-group password-group">
        <i class="bi bi-lock-fill"></i>
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          formControlName="confirmPassword"
          placeholder="Confirm New Password"
          required
        />
        <i
          class="bi"
          [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"
          (click)="togglePassword('confirm')"
        ></i>
        <div *ngIf="forgotForm.errors?.['mismatch']" style="color: red">
          Passwords do not match
        </div>
      </div>

      <button type="submit" class="login-btn">
        <i class="bi bi-box-arrow-in-right"></i> Change Password
      </button>
    </form>

    <div class="back-to-login">
      <a (click)="backLogin()">← Back to Sign In</a>
    </div>
  </div>
</div>
