<!-- <mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Ezy</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/agents">Agents</button>
</mat-menu> -->

<mat-toolbar color="primary" class="custom-toolbar">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Company Logo Menu"
    class="logo-button"
  >
    <img src="assets/Ezy.png" alt="Logo" class="logo-image" />
  </button>

  <span class="app-title">Ezy</span>

  <span class="example-spacer"></span>

  <button mat-icon-button aria-label="Notifications">
    <mat-icon>notifications</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/employee">Drivers</button>
  <button mat-menu-item (click)="addVehicle()">Add Vehicle</button>
  <button mat-menu-item routerLink="/email-booking">Enquery</button>
  <button mat-menu-item (click)="onLogout()">Logout</button>
</mat-menu>
