<footer class="app-footer">
  <nav class="footer-nav">
    <a class="footer-item" routerLink="/home" routerLinkActive="active"
      ><i class="bi bi-house-heart"></i><span>Home</span></a
    >
    <a class="footer-item" routerLink="/booking"
      ><i class="bi bi-calendar-date"></i><span>Bookings</span></a
    >
    <button class="footer-plus">
      <i class="bi bi-plus" (click)="addBooking()"></i>
    </button>
    <a class="footer-item" routerLink="/agents"
      ><i class="bi bi-people-fill"></i><span>Agents</span></a
    >
    <a class="footer-item" routerLink="/vehicle"
      ><i class="bi bi-car-front-fill"></i><span>Vehicles</span></a
    >
  </nav>
</footer>
<!-- routerLink="/employee" -->
