<div
  class="dashboard-header d-flex justify-content-between align-items-center mb-3"
>
  <!-- <div class="dashboard-title">
    <i class="bi bi-people-fill"></i> Agent Dashboard
  </div> -->
  <button class="btn btn-primary mt-2" (click)="addAgent()">+ Add</button>
</div>
<div class="agent-dashboard">
  <div class="summary-grid">
    <div class="summary-card total">
      <div class="summary-text">
        <div class="label">Total Agents</div>
        <div class="count">{{ agentCount }}</div>
      </div>
      <div class="icon-bg bg-blue"><i class="bi bi-people"></i></div>
    </div>
    <div class="summary-card bookings">
      <div class="summary-text">
        <div class="label">Total Bookings</div>
        <div class="count">{{ totalBookings }}</div>
      </div>
      <div class="icon-bg bg-purple"><i class="bi bi-calendar-event"></i></div>
    </div>
    <div class="summary-card active">
      <div class="summary-text">
        <div class="label">Agents Revenue</div>
        <div class="count">₹{{ totalRevenueAmount }}</div>
      </div>
      <div class="icon-bg bg-green"><i class="bi bi-cash"></i></div>
    </div>

    <div class="summary-card pending">
      <div class="summary-text">
        <div class="label">Pending Payment</div>
        <div class="count">₹{{ totalPendingAmount }}</div>
      </div>
      <div class="icon-bg bg-red"><i class="bi bi-cash"></i></div>
    </div>
  </div>

  <div class="agent-card" *ngFor="let agent of agents">
    <div class="agent-header">
      <div class="agent-info">
        <div class="agent-name">{{ agent.name }}</div>
        <div class="agent-id">{{ agent.type }}</div>
      </div>
      <div class="agent-status active">Active</div>
    </div>

    <div class="agent-stats">
      <div>{{ agent.bookingCount }} Bookings</div>
      <div>
        <span class="earned">₹{{ agent.earned }}</span> Paid
      </div>
      <div>
        <span class="pending">₹{{ agent.pending }}</span> Pending
      </div>
    </div>

    <div class="agent-actions">
      <button
        class="agent-action-btn"
        (click)="openPaymentModal(agent.agentId)"
      >
        <i class="bi bi-currency-rupee"></i>Add
      </button>
      <button class="agent-action-btn" (click)="downloadReport(agent.agentId)">
        Report
      </button>
      <button class="agent-action-btn" (click)="viewAllBookings(agent.agentId)">
        Bookings
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="paymentModal" tabindex="-1" #paymentModal>
  <div class="modal-dialog">
    <div class="modal-content p-3">
      <h5>Add Payment</h5>
      <form (ngSubmit)="submitPayment()">
        <input type="hidden" [(ngModel)]="paymentData.agentId" name="agentId" />
        <input
          type="number"
          [(ngModel)]="paymentData.totalPaidAmount"
          name="amount"
          required
          class="form-control"
        />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
