<div class="container my-4">
  <div class="row g-4">
    <!-- Total Vehicles -->
    <div
      class="col-6 col-md-3"
      routerLink="/vehicle-card"
      (click)="documentForm()"
    >
      <div class="card p-2" style="min-height: 80px">
        <div class="card-body text-center">
          <div class="mb-1">
            <i class="bi bi-car-front fs-4 text-success"></i>
          </div>
          <h3 class="card-title fw-bold">Total</h3>
          <h4 class="card-text fw-bold">3</h4>
        </div>
      </div>
    </div>

    <!-- Active Vehicles -->
    <div
      class="col-6 col-md-3"
      routerLink="/vehicle-statistics"
      [state]="{ expenses: allExpenses }"
    >
      <div class="card p-2" style="min-height: 80px">
        <div class="card-body text-center">
          <div class="mb-1">
            <i class="bi bi-graph-up-arrow fs-4 text-success"></i>
          </div>
          <h3 class="card-title fw-bold">Statistics</h3>
          <h4 class="card-text fw-bold">VV</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="expenses-header">
    <span class="title">Recent Expenses</span>
    <a class="view-all" routerLink="/expense-table">View All</a>
  </div>
  <div class="expenses-list">
    <div class="expenses-card" *ngFor="let exp of top4Expenses">
      <div class="exp-icon" [ngClass]="getExpenseDisplay(exp).iconBg">
        <i class="bi" [ngClass]="getExpenseDisplay(exp).icon"></i>
      </div>
      <div class="exp-info">
        <div class="exp-title">
          {{ exp.vehicle.vehicleName }} No: {{ exp.vehicle.vehicleNumber }}
        </div>
        <div class="exp-subtitle">{{ exp.categoryType }}</div>
      </div>
      <div class="exp-amount" [ngClass]="'text-danger'">
        ₹{{ exp.amount | number }}
      </div>
    </div>
  </div>

  <div class="maintenance-header">
    <span class="title">Maintenance Schedule</span>
    <a class="view-all" routerLink="/maintenance-table">View All</a>
  </div>
  <div class="maintenance-list">
    <div class="maintenance-card" *ngFor="let item of top4Maintenances">
      <div class="maint-icon" [ngClass]="getMaintenanceDisplay(item).iconBg">
        <i class="bi" [ngClass]="getMaintenanceDisplay(item).icon"></i>
      </div>
      <div class="maint-info">
        <div class="maint-title">{{ item.maintenanceType }}</div>
        <div class="maint-subtitle">
          {{ item.vehicle.vehicleName }} No: {{ item.vehicle.vehicleNumber }}
          <span class="maint-date">{{
            item.nextduedate | date : "dd MMM, yyyy"
          }}</span>
          <span class="text-muted">
            ({{ getDaysLeft(item.nextduedate) }})
          </span>
        </div>
      </div>
      <div class="maint-right">
        <!-- <div class="maint-amount">₹{{ item.amount | number }}</div> -->
        <!-- <div
          *ngIf="item.status"
          class="getMaintenanceDisplay(item)"
          [ngClass]="getMaintenanceDisplay(item).statusClass"
        >
          {{ item.status }}
        </div> -->
        <div
          class="doc-badge"
          [ngClass]="getMaintenanceDisplay(item).statusClass"
        >
          {{ getMaintenanceDisplay(item).status }}
        </div>
      </div>
    </div>
  </div>

  <div class="doc-header">
    <span class="title">Document Status</span>
    <a class="manage-link" routerLink="/vehicle-documents">Manage</a>
  </div>
  <div class="doc-list">
    <div class="doc-card" *ngFor="let doc of top4Documents">
      <div class="doc-icon" [ngClass]="getDocumentStatus(doc).iconBg">
        <i class="bi" [ngClass]="getDocumentStatus(doc).icon"></i>
      </div>
      <div class="doc-info">
        <div class="doc-title">
          {{ doc.title }}: <span>{{ doc.vehicle?.vehicleName }} </span>
        </div>
        <div class="doc-subtitle">{{ doc.vehicle?.vehicleNumber }}</div>
        <div class="maint-subtitle">
          <span class="maint-date">
            {{ doc.expiryDate | date : "dd MMM, yyyy" }}
            <span class="text-muted">
              ({{ getDaysLeft(doc.expiryDate) }})
            </span>
          </span>
        </div>
      </div>
      <div class="doc-badge" [ngClass]="getDocumentStatus(doc).statusClass">
        {{ getDocumentStatus(doc).status }}
      </div>
    </div>
  </div>
</div>
