<div class="calendar-outer">
  <div class="calendar-header">
    <button class="nav-btn" (click)="prevMonth()">
      <i class="bi bi-skip-backward-circle"></i>
    </button>
    <div class="month-label">{{ months[currentMonth] }} {{ currentYear }}</div>
    <button class="nav-btn" (click)="nextMonth()">
      <i class="bi bi-fast-forward-circle"></i>
    </button>
  </div>
  <div class="calendar-subtitle">
    <p>
      <span class="color-dot" style="background-color: #00bcd4"></span>Dzire
      <span class="color-dot" style="background-color: #f59e42"></span>Ertiga
      <span class="color-dot" style="background-color: #22c55e"></span>Crysta
      <span class="color-dot" style="background-color: #a78bfa"></span> TT17
    </p>
  </div>
  <div class="calendar-grid">
    <div class="day-name" *ngFor="let day of dayNames">{{ day }}</div>
    <div
      class="calendar-cell"
      *ngFor="let date of calendarDates"
      [class.today]="isToday(date)"
      (click)="openDayPopup(date)"
    >
      <span>{{ date?.getDate() }}</span>
      <div class="dots">
        <span
          *ngFor="let dot of getBookingColors(date)"
          class="dot"
          [style.backgroundColor]="dot"
        ></span>
      </div>
    </div>
  </div>
</div>

<app-date-per-bookings
  *ngIf="showPopup"
  [bookings]="selectedBookings"
  [selectedDate]="selectedDate"
  (close)="closePopup()"
>
</app-date-per-bookings>
