<div *ngIf="isLoading" class="loader-overlay">
  <mat-progress-spinner diameter="60" color="primary" mode="indeterminate">
  </mat-progress-spinner>
  <p class="loader-text">Loading, please wait...</p>
</div>
<!-- <div *ngIf="isLoading" class="loader-overlay">
  <div class="loader-container">
    <img src="assets/Ezy.png" alt="Logo" class="logo" />
    <svg class="loader-svg" viewBox="0 0 300 100">
      <line x1="0" y1="80" x2="300" y2="80" stroke="#ccc" stroke-width="3" />

      <g class="car">
        <rect x="0" y="60" width="60" height="20" rx="4" fill="#3f51b5" />
        <rect x="10" y="50" width="20" height="10" fill="#90caf9" />
        <rect x="35" y="50" width="15" height="10" fill="#90caf9" />
        <circle cx="15" cy="82" r="6" fill="#333" />
        <circle cx="45" cy="82" r="6" fill="#333" />
      </g>

      <circle class="smoke s1" cx="0" cy="70" r="4" fill="#bbb" />
      <circle class="smoke s2" cx="0" cy="70" r="4" fill="#bbb" />
      <circle class="smoke s3" cx="0" cy="70" r="4" fill="#bbb" />
    </svg>

    <p class="loader-text">Loading, please wait...</p>
  </div>
</div> -->

<div *ngIf="!isLoading">
  <div class="dashboard-container">
    <div>
      <app-calendar [newBookings]="bookings"></app-calendar>
    </div>
    <div class="row g-4">
      <div class="col-6 col-md-6">
        <div class="dashboard-card border-emerald">
          <div>
            <div class="dashboard-label fw-bold">Bookings</div>
            <div class="text-center">{{ totalBookings }}</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6">
        <div class="dashboard-card border-amber">
          <div>
            <div class="dashboard-label fw-bold text-center">
              Todays Bookings
            </div>
            <div class="text-center">{{ todayBookings }}</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6">
        <div class="dashboard-card border-pink">
          <div>
            <div class="dashboard-label fw-bold">Todays Earning</div>
            <div class="text-center">₹{{ revenue?.today }}</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6">
        <div class="dashboard-card border-yellow">
          <div>
            <div class="dashboard-label fw-bold">Revenue</div>
            <div class="text-center">{{ revenue.total }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3 p-2">
      <h3>Today's Bookings</h3>
    </div>

    <div class="booking-card" *ngFor="let booking of todayBookingss">
      <div class="d-flex">
        <div
          class="status-bar"
          [ngStyle]="{ 'background-color': booking.color }"
        ></div>

        <div class="booking-info ms-2 flex-grow-1">
          <div class="d-flex justify-content-between">
            <div>
              <h3 class="mb-1">
                {{ booking.customer.customerName }}
                <span class="text-warning">{{ booking.bookingType }}</span>
              </h3>

              <h4 class="text-muted small mb-0">
                {{ booking.customer.customerNumber }}
              </h4>
              <h4 class="text-muted small mb-0">
                {{ booking.travelDate }}: {{ booking.traveltime?.slice(0, 5) }}
              </h4>
            </div>
            <div class="text-end">
              <!-- <span class="badge" [ngClass]="booking.statusClass">{{
              booking.status
            }}</span> -->
              <h2 class="mt-2">₹{{ booking.amount }}</h2>
              <h4 class="text-muted small mb-0">
                {{ booking.vehicle.vehicleName }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4 p-2">
      <h3>Upcoming Bookings</h3>
    </div>

    <div
      class="booking-card"
      *ngFor="let booking of upcomingBookings | slice : 0 : 4"
    >
      <div class="d-flex">
        <div
          class="status-bar"
          [ngStyle]="{ 'background-color': booking.color }"
        ></div>
        <div class="booking-info ms-2 flex-grow-1">
          <div class="d-flex justify-content-between">
            <div>
              <h3 class="mb-1">
                {{ booking.customer.customerName }}
                <span class="text-warning">{{ booking.bookingType }}</span>
              </h3>
              <h4 class="text-muted small mb-0">
                {{ booking.customer.customerNumber }}
              </h4>
              <h4 class="text-muted small mb-0">
                {{ booking.travelDate }} : {{ booking.traveltime?.slice(0, 5) }}
              </h4>
            </div>
            <div class="text-end">
              <h2 class="mt-2">₹{{ booking.amount }}</h2>
              <h4 class="text-muted small mb-0">
                {{ booking.vehicle.vehicleName }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row g-4">
      <div class="col-12 col-md-6">
        <div class="card p-3 chart-card shadow-effect">
          <h5>Earnings Trend</h5>
          <canvas
            baseChart
            [data]="lineChartData"
            [type]="lineChartType"
            [options]="lineChartOptions"
          ></canvas>
        </div>
      </div>
    </div> -->
  </div>
</div>
