.table-responsive {
  border-radius: 16px;
  box-shadow: 0 2px 16px rgba(60, 60, 60, 0.08);
  background: #fff;
  padding: 8px;
  width: 100%;
  min-width: 280px;
}

.sticky-header th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

.custom-table {
  border-radius: 12px;
  overflow: hidden;
}

.custom-table thead tr th {
  border-top: none;
  background: #f8fafc;
  font-weight: 600;
}

.custom-table tbody tr {
  transition: background 0.2s;
}

.custom-table tbody tr:hover {
  background: #f1f5f9;
}

.custom-table td,
.custom-table th {
  vertical-align: middle;
}

.summary-card {
  width: 32%;
  padding: 10px;
  border-radius: 10px;
}
.booking-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin-bottom: 12px;
}
.icon-box {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------------------------*/

.booking-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.02);
}

.booking-left .icon-box {
  background-color: #e0f7ec;
  color: #0a7d45;
  padding: 16px;
  border-radius: 12px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-middle {
  flex: 1;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.pax {
  margin-left: 70px;
}
.location {
  color: #888;
  margin-bottom: 12px;
}

.dates {
  display: flex;
  justify-content: space-between;

  margin-bottom: 12px;
}

.date-section small {
  display: block;
  font-size: 15px;
}

.duration {
  display: flex;
  align-items: center;
  color: gray;
  font-size: 14px;
  justify-content: space-between;
  gap: 20px;
}

.booking-right {
  text-align: right;
}

.status {
  padding: 4px 10px;
  border-radius: 16px;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 8px;
}

/* Status Colors */
.status.confirmed {
  background-color: #d1f5d3;
  color: #0a7d45;
}
.status.pending {
  background-color: #fff3cd;
  color: #c77800;
}
.status.cancelled {
  background-color: #f8d7da;
  color: #a94442;
}

.price {
  font-weight: bold;
  color: #5f3dc4;
  font-size: 18px;
}
