<div *ngIf="isLoading" class="loader-overlay">
  <mat-progress-spinner diameter="60" color="primary" mode="indeterminate">
  </mat-progress-spinner>
  <p class="loader-text">Loading, please wait...</p>
</div>

<div *ngIf="!isLoading">
  <div class="container mt-4">
    <div class="row g-3">
      <div class="col-6 col-md-3">
        <a
          class="card text-center shadow-sm text-decoration-none"
          routerLink="/booking-table"
          style="cursor: pointer"
        >
          <div class="card-body">
            <i class="bi bi-car-front fs-2 text-primary"></i>
            <h6 class="mt-2">Total Bookings</h6>
            <h5 class="fw-bold">{{ totalBookings }}</h5>
          </div>
        </a>
      </div>

      <div class="col-6 col-md-3">
        <a
          style="cursor: pointer"
          class="card text-center shadow-sm text-decoration-none"
          routerLink="/earnings"
        >
          <div class="card-body">
            <i class="bi bi-calendar-event fs-2 text-success"></i>
            <h6 class="mt-2">Booking Statistics</h6>
            <h5 class="fw-bold">VV</h5>
          </div>
        </a>
      </div>

      <!-- <div class="col-6 col-md-3">
      <a
        style="cursor: pointer"
        class="card text-center shadow-sm border-warning"
        routerLink="/calendar"
      >
        <div class="card-body">
          <i class="bi bi-calendar-heart fs-2 text-warning"></i>
          <h6 class="mt-2">Booking Calendar</h6>
          <h5 class="fw-bold">5</h5>
        </div>
      </a>
    </div> -->

      <!-- <div class="col-6 col-md-3">
      <a
        style="cursor: pointer"
        class="card text-center shadow-sm border-danger"
      >
        <div class="card-body">
          <i class="bi bi-currency-rupee fs-2 text-danger"></i>
          <h6 class="mt-2">Total Revenue</h6>
          <h5 class="fw-bold">₹ stats.revenue</h5>
        </div>
      </a>
    </div> -->
    </div>

    <div class="row g-4 mt-2">
      <div class="col-12 col-md-6">
        <div class="card p-3 chart-card shadow-effect">
          <h5>Monthly Bookings</h5>
          <canvas
            baseChart
            [data]="barChartData"
            [type]="barChartType"
            [options]="barChartOptions"
          ></canvas>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card p-3 chart-card shadow-effect">
          <h5>Bookings Distribution</h5>
          <canvas
            baseChart
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
