<div mat-dialog-title>Add Booking</div>
<form [formGroup]="bookingForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" style="flex: 1">
          <mat-label>Agents</mat-label>
          <mat-select formControlName="agent">
            <mat-option>None</mat-option>
            <!-- <mat-option
              *ngFor="let atypes of agentTypes"
              [value]="atypes.AgentId"
            >
              {{ atypes.name }}
            </mat-option> -->
            @for (atypes of agentTypes; track atypes) {
            <mat-option [value]="atypes.agentId ? +atypes.agentId : null">{{
              atypes.name
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- Row 1 -->
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" style="flex: 1">
          <mat-label>Customer Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Name"
            formControlName="customerName"
          />
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="col-ms-6" appearance="outline" style="flex: 1">
          <mat-label>Customer Number</mat-label>
          <input
            matInput
            type="text"
            maxlength="14"
            formControlName="customerNumber"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" style="flex: 1">
          <mat-label>No Pax</mat-label>
          <input
            matInput
            type="number"
            placeholder="No Pax"
            min="1"
            formControlName="pax"
          />
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="col-ms-6" appearance="outline" style="flex: 1">
          <mat-label>payment</mat-label>
          <mat-select formControlName="payment">
            <mat-option>None</mat-option>
            @for (paytypes of paytypes; track paytypes) {
            <mat-option [value]="paytypes">{{ paytypes }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- Row 2 -->
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" style="flex: 1">
          <mat-label>Select a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="travelDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" style="flex: 1">
          <mat-label>Time</mat-label>
          <mat-select formControlName="travelTime">
            <mat-option>None</mat-option>
            @for (ttypes of times; track ttypes) {
            <mat-option [value]="ttypes">{{ ttypes }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- Row 3 -->
    <div class="row">
      <!-- <div class="col-sm-6">
        <mat-form-field appearance="outline" style="flex: 1">
          <mat-label>From</mat-label>
          <mat-select formControlName="from">
            <mat-option>None</mat-option>
            @for (vtypes of states; track vtypes) {
            <mat-option [value]="vtypes">{{ vtypes }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div> -->

      <div class="col-sm-6">
        <mat-form-field appearance="outline" style="flex: 1">
          <mat-label>From</mat-label>
          <input
            matInput
            placeholder="Type or select"
            formControlName="from"
            [matAutocomplete]="autoFrom"
            #fromTrigger="matAutocompleteTrigger"
            (focus)="fromTrigger.openPanel()"
            autocomplete="off"
          />
          <mat-autocomplete #autoFrom="matAutocomplete" autoActiveFirstOption>
            <mat-option *ngFor="let s of filteredFrom$ | async" [value]="s">
              {{ s }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <!-- <div class="col-sm-6">
        <mat-form-field appearance="outline" style="flex: 1">
          <mat-label>TO</mat-label>
          <mat-select formControlName="to">
            <mat-option>None</mat-option>
            @for (vtypes of states; track vtypes) {
            <mat-option [value]="vtypes">{{ vtypes }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div> -->

      <div class="col-sm-6">
        <mat-form-field appearance="outline" style="flex: 1">
          <mat-label>TO</mat-label>
          <input
            matInput
            placeholder="Type or select"
            formControlName="to"
            [matAutocomplete]="autoTo"
            #toTrigger="matAutocompleteTrigger"
            (focus)="toTrigger.openPanel()"
            autocomplete="off"
          />
          <mat-autocomplete #autoTo="matAutocomplete" autoActiveFirstOption>
            <mat-option *ngFor="let s of filteredTo$ | async" [value]="s">
              {{ s }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <!-- Row 4 -->
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" style="flex: 1">
          <mat-label>Vehicle</mat-label>
          <mat-select formControlName="vehicle">
            <mat-option>None</mat-option>
            @for (vhtypes of vehcilesType; track vhtypes) {
            <mat-option [value]="vhtypes.vehicleId">{{
              vhtypes.vehicleName
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" style="flex: 1">
          <mat-label>Driver</mat-label>
          <mat-select formControlName="driver">
            <mat-option>None</mat-option>
            @for (drtypes of driverType; track drtypes) {
            <mat-option [value]="drtypes.userId">{{
              drtypes.employeeName
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- Row 5 -->
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" style="flex: 1">
          <mat-label>Amount</mat-label>
          <input matInput type="number" min="0" formControlName="amount" />
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" style="flex: 1">
          <mat-label>Booking Type</mat-label>
          <mat-select formControlName="bookingType">
            <mat-option>None</mat-option>
            @for (btypes of BookingType; track btypes) {
            <mat-option [value]="btypes">{{ btypes }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- Row 6 -->
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" style="flex: 1">
          <mat-label>CustomerWillPay</mat-label>
          <input matInput type="number" min="0" formControlName="customerPay" />
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" style="flex: 1">
          <mat-label>OwnerWillPay</mat-label>
          <input matInput type="number" min="0" formControlName="ownerPay" />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div
    mat-dialog-actions
    class="action"
    style="display: flex; justify-content: flex-end; gap: 16px"
  >
    <button mat-raised-button (click)="clossBooking()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">
      {{ bookingForm.get("id")?.value ? "Update" : "Submit" }}
    </button>
  </div>
</form>
